.pantalla {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 570px;
  width: 320px;
  background-color: rgb(243, 241, 241);
  border-radius: 7px;
}

.header-black {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size:small;
}


.envio {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-bottom: 1px solid #ccc; /* Línea divisoria */
    padding-bottom: 15px; /* Espacio entre la línea y los elementos */
}

.infoLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .peso {
    align-self: flex-start;
    color: #5E17EB;
  }

  .infoLeft p {
    margin: 0;
    font-size: 14px;
  }


  .footer{
    margin-top: 520px;
    align-items: center;
    background-color: black;
    height: 50px;
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    position: absolute;

  }